{% extends "admin/change_list.html" %}
{% load i18n admin_urls static admin_list jazzmin %}


{% block content %}
    <div class="col-12">
        <div class="card card-primary card-outline">
            <div class="card-body">
                {% comment %} Search {% endcomment %}
                {% block search %}
                    {% search_form cl %}
                {% endblock %}

                {% comment %}  {% endcomment %}
                <form id="changelist-form" method="post"{% if cl.formset and cl.formset.is_multipart %}enctype="multipart/form-data"{% endif %} novalidate>{% csrf_token %}
                    <div id="content-main">
                        <div class="row">
                            <div class="col-12">
                                {% block result_list %}                                    
                                    <div class="row">
                                        <div class="col-12 d-flex flex-row-reverse flex-wrap" style="gap: 10px">
                                            {% block object-tools %}     
                                                {% comment %} Extra tools {% endcomment %}
                                                {% for tool in extra_tools %}
                                                    {% if tool.use %}
                                                        <div class="btn-group">
                                                            <a href="{{tool.link}}" type="button" class="btn btn-outline-primary rounded" {% for data in tool.data %}data-{{data.name}}="{{data.value}}" {% endfor %}>
                                                                <i class="{{tool.icon}}"></i> &nbsp; {{tool.text}}
                                                            </a>
                                                        </div>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endblock %}
                                        </div>
                                    </div>
                                    <hr/>
                                    <div class="row" style="max-height: 500px; overflow: auto; position: relative; display: block; padding: 10px; border-bottom: 2px solid blue;">
                                        {% include "admin/data_templates/table.html" with data_wating_headers=data_wating_headers data_wating_rows=data_wating_rows %}
                                    </div>
                                {% endblock %}
                            </div>
                        </div>
                        <div class="row">
                            <link rel="stylesheet" href="{% static "ol/css/ol.css" %}">
                            <div class="map" id="map" style="width: 100%; height:400px"></div>
                            <script src="{% static "ol/js/ol.js" %}"></script>
                            <script>
                                var projection = new ol.proj.Projection({
                                    code: 'EPSG:4326',
                                    units: 'degrees',
                                })
                                var view = new ol.View({
                                    projection: projection,
                                    minZoom: 4,
                                })
                                var map = new ol.Map({
                                    controls: ol.control.defaults(),
                                    layers: [],
                                    target: 'map',
                                    view: view
                                })
                                var layer = new ol.layer.Tile({
                                    source: new ol.source.OSM(),
                                })
                                map.addLayer(layer);
                                map.getView().setCenter([105.5, 21]);
                                map.getView().setZoom(7);
                            </script>
                        </div>
                    </div>
                </form>
            </div>
            </div>
        </div>
        <br class="clear"/>
    </div>
{% endblock %}


{% comment %} Modal {% endcomment %}
{% block modal-field %}
    {% for tool in extra_tools %}
        {% if tool.template %}
            {% include tool.template with action=tool.action %}
        {% endif %}
    {% endfor %}
{% endblock %}