{% extends 'admin/add_button_change_list.html' %}
{% load i18n static jazzmin admin_urls %}

{% block modal-field %}
    <div id="TKModal" class="modal fade">
        <div class="modal-dialog" style="max-width: 1000px">
            <div class="modal-content">
                <div class="modal-header" style="display: block; text-align: center;">
                    <h4 class="modal-title text-xs-center">Biểu đồ thống kê</h4>
                </div>
                <div class="modal-body">
                    <div style="padding-top: 20px">
                        {% include 'admin/template2.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ block.super }}
{% endblock %}

{% block object-tools %}
    <button type="button" class="btn btn-outline-primary thongke" data-toggle="modal" data-target="#TKModal" data-appmodel="{{cl.opts}}">Xem biểu đồ thống kê</button>
    
{{ block.super }}
{% endblock %}