backend/venv

backend/myauth/__pycache__
backend/backend/__pycache__
backend/biengioidiagioi/__pycache__
backend/cosododac/__pycache__
backend/dancu/__pycache__
backend/diahinh/__pycache__
backend/giaothong/__pycache__
backend/nendialy/__pycache__
backend/phubemat/__pycache__
backend/thuyvan/__pycache__
backend/soanthaokehoach/__pycache__
backend/media/files/*
backend/media/images/*

backend/nendialy/choices/__pycache__

backend/myauth/migrations/*
backend/biengioidiagioi/migrations/*
backend/cosododac/migrations/*
backend/dancu/migrations/*
backend/diahinh/migrations/*
backend/giaothong/migrations/*
backend/nendialy/migrations/*
backend/phubemat/migrations/*
backend/thuyvan/migrations/*
backend/soanthaokehoach/migrations/*

!backend/myauth/migrations/__init__.py
!backend/biengioidiagioi/migrations/__init__.py
!backend/cosododac/migrations/__init__.py
!backend/dancu/migrations/__init__.py
!backend/diahinh/migrations/__init__.py
!backend/giaothong/migrations/__init__.py
!backend/nendialy/migrations/__init__.py
!backend/phubemat/migrations/__init__.py
!backend/thuyvan/migrations/__init__.py
!backend/soanthaokehoach/migrations/__init__.py

# DISABLE JAZZMIN
# backend/templates/admin

### client
frontend/.DS_Store
frontend/node_modules
frontend//dist


# local env files
frontend/.env.local
frontend/.env.*.local

# Log files
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*

# Editor directories and files
frontend/.idea
frontend/.vscode
frontend/*.suo
frontend/*.ntvs*
frontend/*.njsproj
frontend/*.sln
frontend/*.sw?

frontend/node_modules
frontend/dist
frontend/.env