venv

myauth/__pycache__
backend/__pycache__
biengioidiagioi/__pycache__
cosododac/__pycache__
dancu/__pycache__
diahinh/__pycache__
giaothong/__pycache__
nendialy/__pycache__
phubemat/__pycache__
thuyvan/__pycache__
soanthaokehoach/__pycache__
multimedia/__pycache__

media/files/*
media/images/*

nendialy/choices/__pycache__
nendialy/utils/__pycache__

myauth/migrations/*
biengioidiagioi/migrations/*
cosododac/migrations/*
dancu/migrations/*
diahinh/migrations/*
giaothong/migrations/*
nendialy/migrations/*
phubemat/migrations/*
thuyvan/migrations/*
soanthaokehoach/migrations/*
multimedia/migrations/*

!myauth/migrations/__init__.py
!biengioidiagioi/migrations/__init__.py
!cosododac/migrations/__init__.py
!dancu/migrations/__init__.py
!diahinh/migrations/__init__.py
!giaothong/migrations/__init__.py
!nendialy/migrations/__init__.py
!phubemat/migrations/__init__.py
!thuyvan/migrations/__init__.py
!soanthaokehoach/migrations/__init__.py
!multimedia/migrations/__init__.py
!media/files/__init__.py
!media/images/__init__.py

# DISABLE JAZZMIN
# templates/admin
