.theme--light.v-data-table.v-data-table--fixed-header thead th {
  background: #aedbec !important;
}

.ol-zoom {
  right: 8px;
  bottom: 40px;
  top: auto;
}

.ol-control.ol-layerswitcher-image {
  top: 3.5rem !important;
}

.ol-layerswitcher-image li.ol-layer-hidden {
  opacity: 1 !important;
}
