{% extends "admin/change_list.html" %}
{% load i18n admin_urls static admin_list jazzmin %}
{% load treetags %}

{% block result_list %}
  {% comment %} {% if action_form and actions_on_top and cl.full_result_count %}{% admin_actions %}{% endif %} {% endcomment %}
  {% comment %} {% result_list cl %} {% endcomment %}
  {% comment %} {% if action_form and actions_on_bottom and cl.full_result_count %}{% admin_actions %}{% endif %} {% endcomment %}
  {% comment %} {{ block.super }} {% endcomment %}

  <div class="row">
    <div class="col-12 col-sm-5">
        {% if action_form and actions_on_top and cl.show_admin_actions %}
            {% admin_actions %}
        {% endif %}
    </div>
    <div class="col-12 col-sm-7" style="display:flex; justify-content:space-around;">
        {% block object-tools %}
            {% block object-tools-items %}
                {% change_list_object_tools %}
            {% endblock %}
        {% endblock %}
    </div>
</div>
<hr/>
{% result_list cl %}
{% if action_form and actions_on_bottom and cl.show_admin_actions %}
    <div class="row">
        <div class="col-12">
            {% admin_actions %}
        </div>
    </div>
{% endif %}
{% endblock %}