{% block extrastyle %}
{% load i18n static %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<link rel="stylesheet" href="{% static 'ol/css/ol.css' %}" />
<link rel="stylesheet" href="{% static 'ol/css/style.css' %}" />
<style type="text/css">
  #{{ id }}_map { width: {{ map_width }}px; height: {{ map_height }}px; }
  #{{ id }}_map .aligned label { float:inherit; }
  #{{ id }}_admin_map { position: relative; vertical-align: top; z-index: 0; float: {{ LANGUAGE_BIDI|yesno:"right,left" }}; }
  {% if not display_wkt %}#{{ id }} { display: none; }{% endif %}
</style>
{% endblock %}

<span id="{{ id }}_admin_map">
<script>
//<![CDATA[
{% block scriptmap %}{% include "gis/admin/custom_geo_field/custom.js" %}{% endblock %}
//]]>
</script>
<div id="{{ id }}_map" dir="{{ LANGUAGE_BIDI|yesno:'rtl,ltr,auto' }}">
  <div class="ol-custom-control ol-unselectable ol-control">
    <button type="button" id="start-draw" class="btn-custom-control" title="Start Draw">S</button>
    <button type="button" id="end-draw" class="btn-custom-control" title="End Draw">E</button>
  </div>
</div>
<div id="position_mouse" style="position: absolute; right: 10px; bottom: 10px;"></div>
{% if editable %}
<a href="javascript:{{ module }}.clearFeatures()">{% translate "Delete all Features" %}</a>
{% endif %}
{% if display_wkt %}<p>{% translate "WKT debugging window:" %} </p>{% endif %}
<textarea id="{{ id }}" class="vWKTField required" cols="150" rows="10" name="{{ name }}">{{ wkt }}</textarea>
<script>{% block init_function %}{{ module }}.init();{% endblock %}</script>
</span>
